
.header{
	min-height: 2px;
	background-color: #2e3639;
}
.header2{
	min-height: 58px;
	background-color: #2e3639;
	margin-bottom: 30px;
}
.header3-container{	
	max-width: 1020px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;

}
.header3{
	min-height: 80px;
	background-color: #fff;
	margin-bottom: 30px;
	padding-top: 17px;
}
.new-body{
	max-width: 980px;
	margin: 0 auto;
}

.centers{
	text-align: center;
}
.header h1 {
font-family: 'Rokkitt' !important;
font-style: normal;
font-weight: 400;
font-size: 3em;
line-height: 1.1em;
text-align: center;

	margin: 0 auto;

	padding-top: 5px;
	padding-bottom: 5px;
	color: #f9f9f9;	
}
	@media (max-width: 749px) {
		.main-body{ 
		padding: 30px 6.2%;

		margin: 0 25px !important;

	}}


	@media (min-width: 750px) {
		.main-body{ max-width: 750px;
	padding: 30px 6.2%;

	margin: 0 auto;

	}}

@media (max-width: 499px) {
.logo{
	float: left;
	text-align: left;
	margin: 0 auto;
	padding-bottom: 30px;

}}

@media (min-width: 500px) {
.logo{
	float: left;
	text-align: left;
	margin: 0 auto;
	padding-bottom: 30px;
}}
.smalll{

	font-size: 80%;
}
.inner-body ul{
	padding-left: 40px;
	padding-bottom: 15px;


}

.header span {
	opacity: 0.95;
}

.header p {
	text-align: center;
	font-size: 18px;
	font-family: "opensans", opensans, Arial;
}
.b-heading{}
.b-heading h1 {
	font-family: 'Rokkitt' !important;
	font-style: normal;
	font-weight: 400;

	font-size: 5.2em;
	line-height: 1.1em;
	margin-bottom: 20px;
	text-align: center;
}

.box{
	max-width: 500px;
	margin: 0 auto;

	
	background-color: #2e3639; 
	color: #fff;

	padding: 20px;
}

.subhead{
	max-width: 720px;
	font-size: 1.5em;
	margin: 0 auto;
	text-align: center;
	
}

.subhead p {
	line-height: 1.4em;

}

.quote{
	text-align: center;
	margin: 0 auto;
}

.noone{
	text-decoration: none;
}

.main-body{ max-width: 750px;
	padding: 30px 6.2%;

	margin: 0 auto;

}

.drag-right{
	position: relative;
	right: 80px;
}
body{
	background-color: #e7e7e7;
}

/*#F5EFE6 */


.container{
	
	
	
	
}

.inner-body{
	border: 1px solid #ddd;
	margin-top: 20px;
	margin-bottom: 40px;

	background-color: #FDFDFD;
	font-family: georgia, "courier new", courier, monospace, 'Open Sans', sans-serif;/*'Lato'*/
	line-height: 1.4em;
	font-size: 100%;

}
strong{
	text-align: center;
}

.themodal{
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 100;
	color: #fff;
	font-size: 1em;
			
			text-align: center;
			}

}

.bgg{
	background-color: red;
}



.login-red{
	float: right;
	margin-top: 13px;
}

.login-red ul {list-style-type: none; }
.login-red li {display: inline;}

.login-red a {
	padding: 8px 20px;
	color: #2e3639;
	border: solid #2e3639 2px;
	border-radius: 4px;
	font-family:  Arial, sans-serif;
	font-weight: 400;
	}
	.contactt{
		background-color: #2e3639 !important;
	color: #fff !important;
	}

.login-red a:hover{
	background-color: #2e3639;
	color: #fff;
}

.login-red a:active{
	background-color: #2e3639;
	color: #fff;
}